@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-negro-absoluto;
  }
  
  body {
    @apply bg-negro-absoluto text-blanco-puro font-body antialiased;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
